/* rem and em do NOT depend on html font-size in media queries!
Instead, 1 rem = 1 em = 16px */

/***********************************/
/* BELOW 1344px (Smaller Desktops)*/
/***********************************/

/* 1350px / 16px = 84px = 84em */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 

- Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/
